.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    height: 30px; /* Adjust this to change the height of the bar */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.progress-bar-fill {
    height: 100%;
    background-color: rgb(241, 190, 63);
    border-radius: inherit;
    transition: width .05s ease-in;
    position: absolute;
    left: 0;
    top: 0;
}

.progress-label {
    z-index: 1;
    color: black; /* Adjust this to change the color of the text */
    font-size: 19px;
    font-weight: bold;
}

.progress-display {
    display: flex;
    align-items: center;
}

.progress-icon {
    margin-right: 5px;
    width: 30px; /* Adjust this to change the width of the icon */
    height: 30px; /* Adjust this to change the height of the icon */
}