.stat-bar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 0; /* set gap between rows to 0 */
    column-gap: 10px; /* adjust as needed */
    width: 100%;
    margin: auto;
    border-top: 1px solid #ccc;
}


.stat-row {
  display: flex;
  justify-content: center;
}

.stat-item {
  display: flex;
  align-items: center;
  width: 101px;
}

.stat-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.stat-label {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.max-stat {
  color: blue;
}

.hidden {
  display: none;
}