.section-compound-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a faint line under each label */
}
.section-label{
    font-size: 16px;
    font-weight: bold;
    padding:5px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.side-bar-button {
    width: 10%;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: right;
    align-items: center;
    margin-left: auto;
}

.resource-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.resource-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    padding: 5px;
    font-size: 16px;
}

.resource-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: 5px;
    font-size: 16px;
}

.resource-rate{
    justify-content: flex-end;
    padding-left: 10px;
}

.resource-capacity{
    justify-content: flex-start;
    padding-right: 10px;
}

.blue-text{
    color: blue;
}

.common-button.red-text {
    color: lightcoral;
}