.common-small-button {
    width: 90%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.collapse-small-button {
    width: 10%;
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: center;
    font-size: 18px;
    text-align: right;
  }

.horizontal-skill-group{
    display: flex;
    flex-direction: row;
    height: 35px;
  }

.skill-list-title{
    font-size: 22px;
    text-align: center;
}