.button-cost{
    display: flex;
    justify-content: space-between;
}

.cost-label{
    align-self: flex-start;
}

.cost-row{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cost-numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: 5px;
    font-size: 16px;
    white-space: nowrap;
    flex-grow: 1;
}

.red-text{
    color: red;
}


@keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.auto-clicking {
    animation: clickAnimation 0.1s linear;
}